@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Light.otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Regular_Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Bold_Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "KayakSans";
  src: url("../fonts/Kayak_Sans_Light_Italic.otf");
  font-weight: lighter;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: KayakSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.smallLogo {
  left: calc(50% - 90px);
  margin-inline: auto;
}

.footerUnderline {
  width: 45px;
  height: 1px;
}

.headerUnderline {
  width: 25px;
  height: 1px;
  width: 0;
  margin-top: 5px;
}

.goldUnderline {
  background: #d9af62;
}

.navbarLink:hover .headerUnderline {
  width: 30px;
  transition: all 0.5s;
}

.footerLinks:hover .footerUnderline {
  width: 100%;
  transition: all 0.5s;
}

.glovesTopSection {
  background: linear-gradient(
    to right,
    #0f0f0f 0%,
    #0f0f0f 50%,
    #212121 50%,
    #212121 100%
  );
}

.imageCarousel {
  scroll-snap-type: x mandatory;
}

.imageCarousel img {
  scroll-snap-align: center;
}

.leftArrow {
  transform: rotate(135deg);
}

.rightArrow {
  transform: rotate(315deg);
}

.gloveArrow.leftArrow,
.gloveArrow.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #03ccff 50%,
    #03ccff 100%
  );
}

.holderArrow.leftArrow,
.holderArrow.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #d9af62 50%,
    #d9af62 100%
  );
}

.fitrackArrow.leftArrow,
.fitrackArrow.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #00b901 50%,
    #00b901 100%
  );
}

.scoreboardArrow.leftArrow,
.scoreboardArrow.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #712296 50%,
    #712296 100%
  );
}

.breaktip.leftArrow,
.breaktip.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #b6917f 50%,
    #b6917f 100%
  );
}

.lunarchalk.leftArrow,
.lunarchalk.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #01b98d 50%,
    #01b98d 100%
  );
}

.shoppingCart {
  min-height: calc(100vh - 400px);
}

/* .productContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 50px solid #101010;
  border-left: 50px solid #212121;
  width: 0;
} */

input[type="radio"] {
  accent-color: black;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #212121; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.scale-animation {
  animation: scaleUpDown 2s infinite alternate;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1); /* normal size */
  }
  50% {
    transform: scale(1.1); /* scale up */
  }
  100% {
    transform: scale(1); /* back to normal size */
  }
}
