@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: #1f1f1f; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.smallLogo {
  left: calc(50% - 90px);
  bottom: 0;
  margin-bottom: -60px;
}

.footerUnderline {
  width: 45px;
  height: 1px;
  background: rgb(22, 163, 74);
}

.glovesTopSection {
  background: linear-gradient(
    to right,
    #0f0f0f 0%,
    #0f0f0f 50%,
    #1f1f1f 50%,
    #1f1f1f 100%
  );
}

.imageCarousel {
  scroll-snap-type: x mandatory;
}

.imageCarousel img {
  scroll-snap-align: center;
}

.leftArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #1f1f1f 50%,
    #1f1f1f 100%
  );
  transform: rotate(135deg);
}

.rightArrow {
  background: linear-gradient(
    to bottom right,
    transparent 0%,
    transparent 50%,
    #1f1f1f 50%,
    #1f1f1f 100%
  );
  transform: rotate(315deg);
}
